#reqex{}
#reqex h2{
    text-align: center;
    border-bottom: 5px double #333;
}
#reqex fieldset{
    border: none;
    width: 800px;
    margin: 0 auto;
}
#reqex fieldset legend{
    display: none;
}
#signUp{}
#signUp ul{
    list-style: none;
}
#signUp ul li{
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 70px;
}
#signUp ul li label{
    display: block;
    padding-top: 5px;
}
#signUp ul li span{
    position: absolute;
    top: 7px;
    left: 100px;
    font-size: 12px;
    color: red;
}
#signUp ul li input{
    padding: 10px 0;
    width: 100%;
    border: none;
}
#signUp ul li input:focus{
    outline: none;
}
#submit{
    width: 100%;
    background-color: rgb(255, 104, 129);
    color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
}